.custom-header {
  @include breakpoint($min865) {
   height: $height_lg_header;
    padding: $pad_head_container;
    display: flex;
  }
  .logo__wrapper{
    @include breakpoint($min865) {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }
    #happSVGLogo {
      height: 60px;
      padding: 4px;
      max-width: 190px;
    }
  }

  .date__wrapper {
    @include breakpoint($min865) {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    #custom-prev {
      //height: 30px;
      min-height: $min_height_nav_control;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      display: inline-block;
      border-radius: 10px;
      position: relative;
      margin: 0 10px 0 0;
      &:before {
        content: '';
        transform: rotate(45deg);
        border-left: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        height: $arrow_button_size;
        width: $arrow_button_size;
        top: $arrow_top_displacement;
        position: absolute;
        left: 15px;
        opacity: 0.6;
      }
      &:hover {
        cursor: pointer;
      }

    }
    #custom-next {
      //height: 30px;
      min-height: $min_height_nav_control;
      width: 40px;
      background-color: rgba(255,255,255,0.2);
      display: inline-block;
      border-radius: 10px;
      position: relative;
      margin: 0 0 0 10px;
      &:before {
        content: '';
        transform: rotate(45deg);
        border-right: 1px solid #FFF;
        border-top: 1px solid #FFF;
        height: $arrow_button_size;
        width: $arrow_button_size;
        top: $arrow_top_displacement;
        position: absolute;
        /* right: 0px; */
        right: 15px;
        opacity: 0.6;
      }
      &:hover {
        cursor: pointer;
      }
    }
    #custom-month {
      font: $font_nav_month_lg;
    }
    #custom-year {
      font: $font_nav_year_lg;
      align-self: flex-end;
      padding: 0 0 0 2px;
    }
  }

  .controls__wrapper {
    @include breakpoint($min865) {
      flex: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
    #AddEventBtn {
      @include nav__control__button;
      .add-event-svg {
        height: $nav_btn_svg_height;
      }
    }
    #FilterBtn {
      @include nav__control__button;
      .filter-svg {
        height: $nav_btn_svg_height;
      }
    }
    #SearchBtn {
      @include nav__control__button;
      .search-svg {
        height: $nav_btn_svg_height;
      }
    }
    #custom-current {
      @include nav__control__button;
      margin-right: 10px;
      .loop-svg {
        height: $nav_btn_svg_height;
      }
    }
  }
}