html {
  overflow: auto;

  @include breakpoint($min1000){
    overflow: hidden;
  }

  @include breakpoint($min865){
    overflow: hidden;
  }
  font-family: $font_GustanLight;
}

html.modal-open{
  overflow: hidden;
}