
@font-face {
  font-family: 'GustanExtraBlack';
  src: url('../fonts/Gustan-Extrablack.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gustan-Extrablack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Gustan-Extrablack.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Gustan-Extrablack.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Gustan-Extrablack.svg#ef7d172b8931fe8869f98304ff6066f8') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'GustanLight';
  src: url('../fonts/Gustan-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gustan-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Gustan-Light.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Gustan-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Gustan-Light.svg#9d512dae6aa2a2ee232766b663faffd9') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  200;
}


@font-face {
  font-family: 'GustanMedium';
  src: url('../fonts/Gustan-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gustan-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Gustan-Medium.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Gustan-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Gustan-Medium.svg#030fa3b6f6a5b4326fcb463078ac66e3') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'GustanMediumD';
  src: url('../fonts/Gustan-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gustan-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Gustan-Medium.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Gustan-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Gustan-Medium.svg#030fa3b6f6a5b4326fcb463078ac66e3') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'GustanBold';
  src: url('../fonts/Gustan-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Gustan-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Gustan-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/Gustan-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Gustan-Bold.svg#80e9b74cb0db71e7cd1b07c8182605f1') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

