
// @media queries
//$tablet:#{$screen-sm-min})";
//$normal:#{$screen-md-min})";
//$wide:#{$screen-lg-min})";

$min370: 370px;
$min525: 525px;
$min768: 768px;
$min865: 865px;
$min992: 992px;
$min1000: 1000px;
$min1200: 1200px;

$font_GustanExtraBlack: GustanExtraBlack;
$font_GustanLight: GustanLight;
$font_Gustan: GustanMedium;
$font_GustanBold: GustanBold;
$font-family-sans-serif: HelveticaNeue,Helvetica,sans-serif;

$custom_font: $font_GustanLight;
$system_font: $font-family-sans-serif;

$font_stack: $custom-font, $system-font;

$gustan_thin: 200;
$gustan_regular: 500;
$gustan_heavy: 700;

$c_orange_light_1: #FFAB8E;
$c_orange_light_2: #FF865D;
$c_orange_main: #FF6733;
$c_orange_dark_1: #F03D00;
$c_orange_dark_2: #C13100;

// Transition speeds
$transition_event_fs:font-size 0.5s ease;
$transition_day_opacity:opacity 0.5s ease;

$modal-backdrop-opacity: 0.8;

// Calendar  Variables
$c_event_text: #000;
$c_cal_body_bg: red;

$c_cal_bg_gradient_1:$c_orange_light_1;
$c_cal_bg_gradient_2:$c_orange_light_2;
$c_cal_bg_gradient_3:$c_orange_main;
$c_cal_bg_gradient_4:$c_orange_dark_2;

// Calendar Head
$height_lg_header:60px;
$c_date_text: #FFF;
$pad_head_container: 0;
$border_radius_head: 0;
//nav__control__button
$c_bg_nav_control: rgba(255,255,255,0.2);
$min_height_nav_control: 20px;
$arrow_button_size: ($min_height_nav_control / 2);
$arrow_top_displacement: ($arrow_button_size / 2);
$nav_btn_svg_height:20px;
$fs_nav_control: 14px;
$pad_nav_contol: 4px 10px;
$margin_nav_control: 0 5px 0 0;
$border_radius_nav_control: 8px;
$nav_control_fs_lg:14px;
$nav_control_lh_lg:16px;
$font_nav_control_lg: $gustan_thin #{$nav_control_fs_lg}/#{$nav_control_lh_lg} $font_stack;
// nav date {month}
$nav_month_fs_lg:28px;
$nav_month_lh_lg:28px;
$font_nav_month_lg: $gustan_regular #{$nav_month_fs_lg}/#{$nav_month_lh_lg} $font_stack;
// nav date {year}
$nav_year_fs_lg:16px;
$nav_year_lh_lg:16px;
$font_nav_year_lg: $gustan_thin #{$nav_year_fs_lg}/#{$nav_year_lh_lg} $font_stack;


// Calendar Body
$pos_top_cal_body: 10px;
$pos_right_cal_body: 0;
$pos_bottom_cal_body: 0;
$pos_left_cal_body: 0;
$cal_body_radius: 0;

// Calendar Cell
// Date
$pad_date_num: 2px;
$pad_event_wrapper: 0;
$pos_top_date_wrap:0;
$pos_left_date_wrap:0;
$c_bg_date_num:rgba(255,255,255,0.2);
$c_text_date_num:#FFF;
$date_num_min_width:20px;
$fs_date_num:13px;
$trans_speed_date_num: 0.5s;


$pad_body_container: 0;

// Event wrapper
// this below padding is to help hide scroll bar and provide some room at the bottom for overflow
$pad_event_wrap_inner: 0 30px 20px 0;
$pos_right_event_wrap_inner: -20px;
$width_event_wrap_inner: calc(100% + 10px);

// Modals
$pad_base_modal_body:10px 20px 100px 20px;
$margin_outer_modal: 10px;

//$font-family-sans-serif: HelveticaNeue,Helvetica,sans-serif;
//$font-family-serif:       Georgia, "Times New Roman", Times, serif;
////** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
//$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
//$font-family-base:        $font-primary;
//
//$happ_base_ff: $font_GustanLight;


//== CheckBox css for pretty-checkboxes
$pretty--class-name: notsopretty;
/* <div class="notsopretty circle"> */

$pretty--border-radius: 0;

$pretty--color-primary: #428bca;
$pretty--color-success: $c_orange_main;
$pretty--color-info: #5bc0de;
$pretty--color-warning: #f0ad4e;
$pretty--color-danger: #d9534f;
$pretty--color-border: #b9b9b9;
$pretty--color-radio: #b9b9b9;
$pretty--color-bg: #fff;

/* Google material design icons */
$pretty--gmdi-class-name:'g-mdi';
$pretty--gmdi-name:'Material Icons';
$pretty--gmdi-attr:'data-icon';